/* src/App.css */
body, html, #root, .app {
  height: 100%;
  margin: 0;
}

.app {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar main";
  grid-template-rows: auto 1fr;
  grid-template-columns: 240px 1fr;
  height: 100vh;
}

.header {
  grid-area: header;
  z-index: 1100;
  background-color: #4CAF50; /* Green color from logo */
}

.sidebar {
  grid-area: sidebar;
  z-index: 1000;
  overflow-y: auto;
  background-color: #2C3E50; /* Dark gray color from logo */
  color: white; /* Text color */
}

.main {
  grid-area: main;
  padding: 2rem;
  background-color: #f5f5f5;
  overflow-y: auto;
}

.navbar-link {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}
